*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color : royalblue;
}

html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.nav{
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    &__btn{
        position: absolute;
        left: 0;
        z-index: 999;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        box-sizing: content-box;
        height: 40px;
        width: 40px;
        padding: 0 10px 10px 0;
        margin-bottom: 10px;
        border: none;
        background: none;
        color: #777;
        cursor: pointer;

        &__bar{
            width: 3px;
            border-radius: 15%;
            background-color: var(--color);
            transition: height .7s;
        }

        &--one{
            height: 100%;
        }

        &--two{
            height: 75%;
        }

        &--three{
            height: 50%;
        }
    }

    &__page{
        box-sizing: content-box;
        position: fixed;
        top: -255px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 255px;
        height: 80px;
        border: 1px solid #777;
        border-top: none;
        border-bottom-left-radius: 25% ;
        border-bottom-right-radius: 25% ;
        padding: 10px;
        transition: top .7s;
        box-shadow: 2px 2px 10px black;

        &__option{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid black;
            box-shadow: 2px 2px 10px black;
            cursor: pointer;
        }

        &--blue{
            background-color: royalblue;
        }

        &--green{
            background-color: yellowgreen;
        }

        &--red{
            background-color: tomato;
        }

        &--grey{
            background-color: grey;
        }
    }
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;

    &__circle{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        background: #333;
        border: none;
        border-radius: 50%;
        box-shadow: 5px 5px 15px var(--color);
        cursor: pointer;

        &::before,&::after{
            display: block;
            content: '';
            position: absolute;
            top: 50%;
            width: 75%;
            height: 3px;
            background-color: var(--color);
            transition: right .7s, left .7s;
            z-index: 1;
        }

        &::before{
            left: 0;
        }

        &::after{
            right: 0;
        }

        &:hover::after{
            right: 99%;
        }
        
        &:hover::before{
            left: 99%;
        }

        &__icon{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: #333;
            font-size: 5rem;
            color: var(--color);
            z-index: 2;
        }
    }
}